html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: rgb(252, 247, 243);
}
p {
  font-family: "Oswald", sans-serif;
}
.seperator {
  border: dotted black 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  height: 40px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
}
.header-name {
  font-family: "Oswald", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}
.header-text-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: 1.5rem;
}

.header-text {
  font-family: "Oswald", sans-serif;
  color: black;
  padding-right: 5px;
  text-decoration: none;
}
.header-text:hover {
  color: rgb(226, 204, 8);
}

.header-icons {
  display: flex;
}

#header-icons {
  margin: 10px;
  height: 1.5rem;
  right: 0;
}

.link1:hover #header-icons {
  filter: brightness(1);
}
.link1:hover {
  background-color: rgb(226, 204, 8);
}

/* INTRO */
.intro-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.intro-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 3%;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.35);
}
.line {
  width: 95%;
  border: 1px solid rgb(226, 204, 8);
  background-color: rgb(226, 204, 8);
  border-radius: 5px;
  height: 1px;
  margin-bottom: 2rem;
  margin-top: 0;
}

.intro-title-text {
  font-size: 60px;
  margin-bottom: 10px;
  font-family: "Oswald", sans-serif;
}
.intro-text-div {
  width: 90%;
  margin-top: 15px;
}

.profile-photo {
  height: 10rem;
}

/* EXPERIENCE */
.experience-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.experience-title {
  font-size: 60px;
  margin-bottom: 20px;
  margin-top: 0;
}
.experience-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 3%;
  width: 60%;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.35);
  margin-bottom: 20px;
}
.experience-text {
  width: 90%;
}
.experience-photos-contaniner {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 1%;
  width: 80%;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.35);
  height: 550px;
}
.experience-content {
  border: solid;
  border-width: 0.15rem;
  border-radius: 3%;
  border-color: rgb(226, 204, 8);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: 0.5rem;
}
.rig-photo {
  width: 100%;
  border-radius: 1%;
}

.rig-video {
  width: 100%;
}

/* SKILLS */

.skills-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.skills-title {
  display: flex;
  justify-content: center;
  font-family: "Oswald", sans-serif;
  font-size: 60px;
}
.skills-icons-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.skill-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  position: relative;
  overflow: hidden;
}

.skill-icon img {
  height: 250px;
  transition: transform 0.3s;
}

.skill-text {
  position: absolute;
  bottom: -100%; /* Initially hidden below the icon */
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* Gray background with opacity */
  text-align: center;
  opacity: 0; /* Initially hidden */
  transition: bottom 0.3s, opacity 0.3s; /* Add transitions for smooth animation */
}

.skill-icon:hover img {
  transform: translateY(250px); /* Move the image downward on hover */
}

.skill-icon:hover .skill-text {
  bottom: 0; /* Move the text upward on hover */
  opacity: 1; /* Show the text on hover */
  color: black;
}

