html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: rgb(252, 247, 243);
}

p {
  font-family: "Oswald", sans-serif;
}

.seperator {
  border: dotted black 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
  
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  height: 40px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
}

.header-name {
  font-family: "Oswald", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.header-text-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: 1.5rem;
}

.header-text {
  font-family: "Oswald", sans-serif;
  color: black;
  margin-right: 4rem;
  text-decoration: none;
}

.header-text:hover {
  color: rgb(226, 204, 8);
}

.header-icons {
  display: flex;
}

#header-icons {
  margin: 10px;
  height: 1.5rem;
  right: 0;
}

.link1:hover #header-icons {
  filter: brightness(1);
}

.link1:hover {
  background-color: rgb(226, 204, 8);
}

/* INTRO */
.intro-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.intro-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 3%;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.35);
  margin-top: 2.5rem;
}

.line {
  width: 95%;
  border: 1px solid rgb(226, 204, 8);
  background-color: rgb(226, 204, 8);
  border-radius: 5px;
  height: 1px;
  margin-top: 0;
}

.intro-title-text {
  font-size: 60px;
  font-family: "Oswald", sans-serif;
}

.intro-text-div {
  width: 90%;
  margin-top: 15px;
}

.profile-photo {
  height: 200px;
}

/* EXPERIENCE */
.experience-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.experience-title {
  font-size: 60px;
  margin-bottom: 20px;
  margin-top: 0;
}

.experience-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 60%;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.35);

}

.experience-text {
  width: 90%;
}

.experience-photos-contaniner {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 1%;
  width: 80%;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.35);
  height: 30rem;
}

.experience-content {
  border: solid;
  border-width: 0.15rem;
  border-radius: 3%;
  border-color: rgb(226, 204, 8);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: 0.5rem;
}

.rig-photo {
  width: 100%;
  border-radius: 1%;
}

.rig-video {
  width: 100%;
}

/* SKILLS */

.skills-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.skills-title {
  display: flex;
  justify-content: center;
  font-family: "Oswald", sans-serif;
  font-size: 60px;
}

.skills-icons-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.skill-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
  position: relative;
  overflow: hidden;
}

.skill-icon img {
  height: 12rem;
  transition: transform 0.3s;
}

.skill-text {
  font-size: smaller;
  position: absolute;
  bottom: -100%;
  width: 50%;
  height: 100%;
  background-color: transparent;
  text-align: center;
  opacity: 0;
  transition: bottom 0.3s, opacity 0.3s;
}

.skill-icon:hover img {
  transform: translateY(12rem);
}

.skill-icon:hover .skill-text {
  bottom: 0;
  opacity: 1;
  color: black;
}

/* FOOTER */

.footer {
  height: 11rem;
  margin: 0px;
  padding: 0;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: white;
  z-index: 1;
  box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.1);
}

.contact-title {
  display: flex;
  justify-content: center;
  font-family: "Oswald", sans-serif;
  font-size: 60px;
}

.contact-div {
  margin: 0 10rem 0 0;
}
@media(width: 480px){
  
}
.contact-text {
  margin: 0;
  padding: 0;
}

.submit-div {
  display: flex;
  flex-direction: column;

}

.submit-div button {
  width: 50%;
  align-self: center;
  margin: 0.2rem;
}

.submit {
  display: flex;
  justify-content: flex-start;
}

input,
textarea {
  width: 10rem;
  margin-left: 0.5rem;

}

.information-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}